<header>
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  
    <!-- Background image -->
    <div
      id="intro-example"
      class="p-5 text-center bg-image"
      style="background-image: url('https://tds-images.thedailystar.net/sites/default/files/styles/big_202/public/images/2023/10/11/dalle_2023-10-11_19.41.32_-_bright_and_lively_landscape_illustration_of_a_bangladeshi_woman_with_tan_skin_and_black_hair_in_traditional_attire_completely_immersed_in_a_game_on_h.png');"
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3"><h1>Welcome to My Blog</h1></h1>
            <h5 class="mb-4">Keep in mind that using a fixed height might not be the best approach for all types of content, especially if the content length varies significantly.</h5>
            <!-- <a
              class="btn btn-outline-light btn-lg m-2"
              href="https://www.youtube.com/watch?v=c9B4TPnak1A"
              role="button"
              rel="nofollow"
              target="_blank"
            >Start tutorial</a
            >
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="https://mdbootstrap.com/docs/standard/"
              target="_blank"
              role="button"
            >Download MDB UI KIT</a
            > -->
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>