<!-- code copy button style -->
<style>
  pre code {
      display: block;
      padding: 1em;
      overflow-x: auto;
      border: 1px solid #ccc;
      background-color: #000; /* Set the background color to black */
      color: #fff; /* Set the text color to white */
  }
  
  .copy-code-button {
    background-color: transparent;
    color: #31D2F2;
    border: 2px solid #31D2F2;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s, color 0.3s; /* Add transition properties */
}

.copy-code-button:hover {
    background-color: #31D2F2; /* Change color on hover */
    color: #fff; /* Change text color on hover */
  }
  </style>
  
<!-- ---------------------------------------------------------------- -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #0989df;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}text-info{% endif %}" aria-current="page" href="{{ site.baseurl }}/"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/blog' %}text-info{% endif %}" href="{{ site.baseurl }}/blog"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/about' %}text-info{% endif %}" href="{{ site.baseurl }}/about"><b>About</b></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/contact' %}text-info{% endif %}" href="{{ site.baseurl }}/contact"><b>Contact</b></a>
          </li>

          <li class="nav-item">
  <a class="nav-link {% if page.url == '/resume' %}text-info{% endif %}" href="{{ site.baseurl }}/resume"><b>Resume</b></a>
</li>
         
          



        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>