---
layout: default
---
<!DOCTYPE html>

<!--Main Navigation-->

<!-- Navbar -->

<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
  <h1 class="mb-0 h4">Blog Post</h1>
</div>
<!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-4 mb-5">
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Section: Post data-mdb-->
        <section class="border-bottom mb-4">
          <img src="{{ page.image }}" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="{{ page.title }}" />

          <div class="row align-items-center mb-4">
            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
              <img src="{{ site.baseurl }}/assets/Images/favicon2.png" class="rounded-5 shadow-1-strong me-2"
                height="35" alt="{{ page.author_name }}" loading="lazy" />
              <span><b>{{ page.author_name }}</b> - {{ page.date | date: "%B %d, %Y" }}</span>
              </div>
              <div class="col-lg-6 text-center text-lg-end">
              <a class="btn border-info" target="_blank" style="color: #31D2F2" href="{{ site.facebook_username }}"
                role="button"><i class="bi bi-facebook"></i></a>
              <a class="btn border-info" target="_blank" style="color: #31D2F2" href="{{ site.twitter_username }}"
                role="button"><i class="bi bi-twitter"></i></a>
              <a class="btn border-info" target="_blank" target="_blank" style="color: #31D2F2"
                href="{{ site.linkedin_username }}" role="button"><i class="bi bi-linkedin"></i></a>
              <a class="btn border-info" target="_blank" style="color: #31D2F2" href="{{ site.instagram_username }}"
                role="button"><i class="bi bi-instagram"></i></a>
              <a class="btn border-info" target="_blank" style="color: #31D2F2" href="{{ site.youtube_username }}"
                role="button"><i class="bi bi-youtube"></i></a>
              <a class="btn border-info" target="_blank" style="color: #31D2F2" href="{{ site.github_username }}"
                role="button"><i class="bi bi-github"></i></a>

            </div>
          </div>
        </section>
        <!--Section: Post data-mdb-->

        <!--Section: Text-->




        <section>
          <h1 class="mb-0 h2">{{ page.title }}</h1>
          <p class="fw-bold">
            {{ content }}
          </p>
        </section>
        <!--Section: Text-->

        <!--Section: Share buttons-->
        <section class="text-center border-top border-bottom py-4 mb-4">
          <p><strong>Leave a comment:</strong></p>


          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

            var disqus_config = function () {
              this.page.url = "{{content.absolute_url}}";  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = "{{content_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://harmony-5.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <script id="dsq-count-scr" src="//harmony-5.disqus.com/count.js" async></script>





          <!-- Comment -->


          <!-- 
  
      <div id="disqus_thread"></div>
  
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    

    var disqus_config = function () {
    this.page.url = "{{content.absolute_url}}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{content_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://harmony-4.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>




          <div class="row mb-4">
            <div class="col-2">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
                class="img-fluid shadow-1-strong rounded-5" alt="" />
            </div>

            <div class="col-10">
              <p class="mb-2"><strong>Antonia Velez</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>
        </section>
        <!--Section: Comments-->

          <!--Section: Reply-->

          <!--Section: Reply-->
      </div>
      <!--Grid column-->

      <!--Grid column-->

      <aside class="col-md-4 mb-4">
        <!--Section: Sidebar-->
        <section class="sticky-top" style="top: 80px;">
          <!--Section: Ad-->
          <section class="text-center border-bottom pb-4 mb-4">
            <div class="bg-image hover-overlay ripple mb-4">
              <img
                src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp"
                class="img-fluid" />
              <a href="#" target="_blank">
                <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
              </a>
            </div>
            <h5>Material Design for Bootstrap 5</h5>

            <p>
              500+ components, free templates, 1-min installation, extensive tutorial, huge
              community. MIT license - free for personal & commercial use
            </p>
            <a role="button" class="btn border-info" href="#" target="_blank">Download for free<i
                class="fas fa-download ms-2"></i></a>
          </section>
          <!--Section: Ad-->

          <!--Section: Video-->
          <section class="text-center">
            <h5 class="mb-4">Learn the newest Bootstrap 5</h5>

            <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
              <iframe class="embed-responsive-item rounded-3" src="https://www.youtube.com/embed/OTxz8hqdtEk"
                allowfullscreen></iframe>

              <section class="text-center">
                <h5 class="mb-5 mt-4">Share Content Any Favourite Site</h5>

                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_linkedin"></a>
                  <a class="a2a_button_telegram"></a>
                  <a class="a2a_button_x"></a>
                  <a class="a2a_button_copy_link"></a>
                </div>
              </section>
              <script async src="https://static.addtoany.com/menu/page.js"></script>

            </div>
          </section>

      </aside>
      </section>
      <!--Section: Video-->
      </section>
      <!--Section: Sidebar-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  </div>
</main>
<!--Main layout-->